{% extends 'tables_template.html' %}

{% block body %}
<body>

<div style="padding-top: 20px">
    <table id="customers" style="width: 100%">
        <tr style="font-weight: bold">
            <td>Order ID</td>
            <td>Status</td>
            <td>Client</td>
            <td>Employee</td>
            <td>Order date</td>
            <td>Order parts</td>
            <td>Edit</td>
            <td>Cancel</td>
            {% if role in ('admin', 'manager') %}
            <td>Assign</td>
            {% endif %}
        </tr>
        {% for order in orders %}
        {% if (role not in ('admin', 'manager') and current_user == client) or role in ('admin', 'manager') %}
        <tr>
            <td>{{ order[0][0] }}</td>
            <td>{{ order[0][1] }}</td>
            <td>{{ order[0][2] }}</td>
            <td>{{ order[0][3] }}</td>
            <td>{{ order[0][4] }}</td>
            <td>
                <select class="input100" style="padding: 0 10px 0 10px">
                    {% for part in order[1] %}
                        <option>{{ part[0] }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <button class="login100-form-btn" style="height: 30px">
                    <a href="/edit-order?order-id={{ order[0][0] }}">
                        Edit
                    </a>
                </button>
            </td>
            <td>
                <button class="login100-form-btn" style="height: 30px">
                    <a href="/cancel-order?order-id={{ order[0][0] }}">
                        Cancel
                    </a>
                </button>
            </td>
        {% if role in ('admin', 'manager') %}
            <td>
                <select class="input100" name="employee" style="padding: 0 10px 0 10px" onchange="select_listener()">
                {% for (employee_id, employee_name) in employees %}
                    <option{% if order[0][3] == employee_name %} selected="selected"{% endif %} value={{ employee_id }}>
                        {{ employee_name }}
                    </option>
                {% endfor %}
                </select>
            </td>
        {% endif %}
        </tr>
        {% endif %}
        {% endfor %}
    </table>
</div>

<div style="padding-top: 20px; padding-left: 20px">
    <button class="login100-form-btn" style="height: 30px; width: 200px;">
        <a href="../add_order/" style="color: #fff; font-weight: bold; text-transform: uppercase; font-family: Montserrat-Bold">
            Create order
        </a>
    </button>
</div>
</body>

<script >

</script>
{% endblock %}