{% extends 'tables_template.html' %}

{% block body %}
<body>

    <table id="customers">
        {% for order in orders %}
        <tr>
        {% if role not in ('admin', 'manager') and current_user == order.client %}
            <td>{{ order.order_id }}</td>
            <td>{{ order.client }}</td>
            <td>{{ order.part }}</td>
            <td>{{ order.status }}</td>
        {% endif %}
        {% if role in ('admin', 'manager') %}
            <td>{{ order.order_id }}</td>
            <td>{{ order.client }}</td>
            <td>{{ order.part }}</td>
            <td>{{ order.status }}</td>
        {% endif %}
        </tr>
        {% endfor %}
    </table>

</body>
{% endblock %}