{% extends 'tables_template.html' %}

{% block body %}
<body>

    <div style="padding-top: 20px">
        <table id="customers">
            <tr style="font-weight: bold">
                <td style="width: 60px; align-content: center">User ID</td>
                <td style="width: 300px">Username</td>
                <td style="width: 300px">Role</td>
                <td style="width: 50px">Remove</td>
            </tr>
            {% for user in users %}
            <tr>
                <td style="align-content: center">{{ user.user_id }}</td>
                <td style="width: 300px">{{ user.username }}</td>
                <td>{{ user.role }}</td>
                <td><button class="login100-form-btn" style="height: 30px"><a href="/remove-user?user-id={{ user.user_id }}">Remove</a></button></td>
            </tr>
            {% endfor %}
        </table>
    </div>

</body>
{% endblock %}